# flyctl launch added from .gitignore
target
**/events.db

node_modules
**/styles_generated.css

# flyctl launch added from node_modules/.pnpm/tailwindcss@3.4.3/node_modules/tailwindcss/stubs/.gitignore
!node_modules/.pnpm/tailwindcss@3.4.3/node_modules/tailwindcss/stubs/**/*
fly.toml
